<html>
<head>
  <meta http-equiv="refresh" content="5"> <!-- Dev -->
  <title>BlingBlaw - UI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- UIkit CSS -->
  <!-- UIkit JS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/css/uikit.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit-icons.min.js"></script>

  <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
</head>

<body>



  <div class="uk-height-1-1">




    <div class="uk-position-large uk-position-center-left uk-overlay uk-overlay-default uk-visible@s">
      <div class="uk-card uk-card-default">
        <div class="uk-card-header">
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">Left</h3>
          </div>
        </div>
        <div class="uk-card-boady">
          <ul class="uk-tab-left" uk-tab>
            <li class="uk-active"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
            <li>
              <a href="#">More <span class="uk-margin-small-left" uk-icon="icon: triangle-down"></span></a>
              <div uk-dropdown="mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                  <li class="uk-nav-header">Header</li>
                  <li><a class="uk-button uk-button-text" href="/uiv2">UI- prototype</a></li>
                  <li><a class="uk-button uk-button-text" href="/">UI</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a class="uk-button uk-button-text" href="#">Item</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text">Read more</a>
        </div>
      </div>
    </div>

    <div class="uk-position-center uk-overlay uk-overlay-default uk-child-width-2-2">
      <div class="uk-child-width-1-2 uk-text-center" uk-grid>
        <div>
          <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
          <div class="uk-child-width-1-2 uk-text-center" uk-grid>
            <div>
              <div class="uk-card uk-card-primary uk-card-body">Item</div>
            </div>
            <div>
              <div class="uk-card uk-card-primary uk-card-body">Item</div>
            </div>
          </div>
        </div>
      </div>
    </div>



      <div class="uk-position-large uk-position-top-left uk-overlay uk-overlay-default">Top Left</div>
      <div class="uk-position-large uk-position-top-center uk-overlay uk-overlay-default">Top Center</div>
      <div class="uk-position-large uk-position-top-right uk-overlay uk-overlay-default">Top Right</div>










      <div class="uk-position-large uk-position-center-right uk-overlay uk-overlay-default">Center Right</div>
      <div class="uk-position-large uk-position-bottom-left uk-overlay uk-overlay-default">Bottom Left</div>
      <div class="uk-position-large uk-position-bottom-center uk-overlay uk-overlay-default">Bottom Center</div>
      <div class="uk-position-large uk-position-bottom-right uk-overlay uk-overlay-default">Bottom Right</div>

  </div>


</body>

</html>
