
<div class="container py-2">
  <h2>Sample <small>layout 2</small></h2>
  <hr>
</div>



<div class="card-1">
  <nav class="navbar navbar-expand-lg navbar-light bg-danger sticky-top z-back card-1">
    <a class="btn btn-outline-danger btn-lg" id="sidebarCollapse" ><i class="fas fa-align-left"></i></a>
  </nav>
  <%- include('table') -%>
</div>
