<div class="list-group">
  <button type="button" class="btn btn-danger p-2 mx-1">Action</button>
  <button type="button" class="btn btn-danger p-3 my-1">Action</button>
  <button type="button" class="btn btn-danger p-2 mx-1">Action</button>
  <button type="button" class="btn btn-danger p-3 my-1">Action</button>
</div>
